Repository Varfalamei/BirdDetector: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pylama

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        language: python
        name: flake8
        entry: flake8
        files: ^src/

      - id: mypy
        language: python
        name: mypy
        entry: mypy
        files: ^src/
        types:
          - "python"
      - id: pylama
        language: python
        name: pylama
        entry: pylama
        files: ^src/

test CI/CD
  src/create_new_feature.py
Due: flake8, mypy, pylama

test CI/CD v2
  .pre-commit-config.yaml
  src/create_new_feature.py
Due: flake8, mypy, pylama

create test fastapi for EC2
  example_docker_fastapi_for_ec2/main.py
Due: none

create instruction build instance ec2
  example_docker_fastapi_for_ec2/example_build_instance_for_ec2.md
Due: none

fix designdoc
  designdoc/designdoc.md
Due: none

week commit
  example_docker_fastapi_for_ec2/example_build_instance_for_ec2.md
Due: none

fix designdoc.md
  ML SD_update doc.xlsx
  designdoc/Message processing flowchart..jpg
  designdoc/Model update flowchart.jpg
  designdoc/Session flowchart.jpg
  designdoc/designdoc.md
Due: none

fix designdoc.md
  designdoc/Model_update_flowchart.jpg
  designdoc/designdoc.md
Due: none

fix designdoc.md
  designdoc/Message_processing_flowchart.jpg
  designdoc/Session_flowchart.jpg
  designdoc/designdoc.md
Due: none

fix flowchart
  ML SD_update doc.xlsx
  designdoc/Message processing flowchart.jpg
  designdoc/Message_processing_flowchart.jpg
Due: none

feature/ check_profanity
  dev/corpus_russian_swears/README.MD
  dev/corpus_russian_swears/corpus_russian_swears.txt
  requirements.txt
  src/utils.py
  src/utils_aws.py
Due: flake8, mypy, pylama

feature/ check_profanity
  src/default_system.py
Due: flake8, mypy, pylama

WIP
  .gitignore
  src/api/__pycache__/api.cpython-310.pyc
  src/api/__pycache__/model.cpython-310.pyc
Due: flake8, pylama

WIP
  requirements.txt
Due: none

feature/ check_profanity
  designdoc/designdoc.md
Due: none
